@using N2.Web
@model N2Bootstrap.Library.Models.Tabs
@{
    var tabs = Model.GetChildren<N2Bootstrap.Library.Models.Tabs.Tab>();
    var uniqueId = Html.UniqueID("t");
    var state = N2.Web.UI.WebControls.ControlPanel.GetState(Html.ContentEngine());
    var isDragAndDrop = state.IsFlagSet(N2.Web.UI.WebControls.ControlPanelState.DragDrop);
    var pullClass = "";
    switch (Model.TabPosition)
    {
        case N2Bootstrap.Library.Models.Tabs.TabPositionEnum.Bottom:
            pullClass = "tabs-below";
            break;
        case N2Bootstrap.Library.Models.Tabs.TabPositionEnum.Left:
            pullClass = "tabs-left";
            break;
        case N2Bootstrap.Library.Models.Tabs.TabPositionEnum.Right:
            pullClass = "tabs-right";
            break;
        default:
            pullClass = string.Empty;
            break;
    }
}
@if (isDragAndDrop)
{
    Func<N2Bootstrap.Library.Models.Tabs.Tab, object> tabsTemplate = 
        @<ul class="nav nav-tabs">
                <li class="active"><a href="@(uniqueId + item.ID)">@item.Title</a></li>
        </ul>;
    foreach (var tab in tabs)
    {
        <div class="tabbable @pullClass">
            @if (Model.TabPosition != N2Bootstrap.Library.Models.Tabs.TabPositionEnum.Bottom)
            {
                @tabsTemplate(tab)
            }
            <div class="tab-content" style="padding:20px 0px;margin:20px 0px;">
                <div class="tab-pane active" id="@(uniqueId + tab.ID)">
                    @{ Html.DroppableZone(tab, "Tab").Render(); }
                </div>
            </div>
            @if (Model.TabPosition == N2Bootstrap.Library.Models.Tabs.TabPositionEnum.Bottom)
            {
                @tabsTemplate(tab)
            }
        </div>
    }
}
else
{
    Func<dynamic, object> tabsTemplate = 
        @<ul class="nav nav-tabs">
            @foreach (var tab in tabs)
            {
                <li class="@(tabs.IndexOf(tab) == 0 ? "active" : "")"><a href="#@(uniqueId + tab.ID)" data-toggle="tab">@tab.Title</a></li>
            }
        </ul>;
    <div class="tabbable @pullClass">
        @if (Model.TabPosition != N2Bootstrap.Library.Models.Tabs.TabPositionEnum.Bottom)
        {
            @tabsTemplate(null)
        }
        <div class="tab-content">
            @foreach (var tab in tabs)
            {
                <div class="tab-pane @(tabs.IndexOf(tab) == 0 ? "active" : "")" id="@(uniqueId + tab.ID)">
                    @{ Html.DroppableZone(tab, "Tab").Render(); }
                </div>
            }
        </div>
        @if (Model.TabPosition == N2Bootstrap.Library.Models.Tabs.TabPositionEnum.Bottom)
        {
            @tabsTemplate(null)
        }
    </div>
}